html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px; /*1rem = 10px, */
  font-family: 'Roboto', sans-serif;
}
.header {
  text-align: center;
  padding: 0.5rem;
}

.nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  padding: 0.7rem;
  /* background-color: rgb(0, 0, 255); */
  background-color: #e6b68b;
  gap: 1rem;
}

.navegacion {
  display: flex;
  gap: 1.5rem;
}

.navegacion a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
  border: 1px solid black;
  background-color: aliceblue;
  padding: 0.8rem;
  border-radius: 0.5rem;
}

/* Fondo */
.bg-contenido {
  width: 100%;
  height: 100vh;
  background-image: url(img/banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-texto {
  display: flex;
  justify-content: center;
  padding-top: 20rem;
}

.bg-texto p {
  font-size: 4rem;
  color: whitesmoke;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Productos */

.productos {
  display: grid;
  grid-template-columns: repeat(2, 60rem);
  justify-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
  /* border: 2px solid red; */
  padding: 2rem;
}
.text-titulo {
  text-align: center;
  grid-row: 1; /* El título estará en la primera fila */
  grid-column: 1 / -1; /* Ocupa todas las columnas disponibles */
}
.cafe {
  border: 1.5px solid burlywood;
  padding: 4rem 2rem;
}

/* Estilos  para cada café */
.cafe-01,
.cafe-02,
.cafe-03,
.cafe-04 {
  padding: 18rem 10rem; /* Ajusta el padding vertical */
  /* border: 1px solid greenyellow; */
  border-radius: 7%;
}

.cafe-01 {
  background-image: url(img/cafe1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 7%;
}

.cafe-02 {
  background-image: url(img/cafe2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.cafe-03 {
  background-image: url(img/cafe3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.cafe-04 {
  background-image: url(img/cafe4.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .productos {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    padding: 1rem; /* Reduce el padding */
    column-gap: 1rem; /* Reduce el espacio entre columnas */
  }

  /* Ajusta el padding de los elementos café */
  .cafe-01,
  .cafe-02,
  .cafe-03,
  .cafe-04 {
    padding: 12rem 1rem; /* Ajusta el padding vertical y horizontal */
  }
}

body {
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/571/894/502/tree-coffee-coffee-wallpaper-preview.jpg);
  background-size: 100rem; /* Esto hace que la imagen se ajuste al tamaño de la ventana del navegador */
  background-position: 20%; /* Esto centra la imagen en la página */
  /* Puedes ajustar más propiedades según tus preferencias, como el color de fondo, la repetición de la imagen, etc. */
  background-color: rgba(255, 255, 255, 0.5);
}
.productos p,
h2 {
  color: white;
}

.nosotros {
  text-align: center;
  color: rgb(255, 255, 255);
  display: flexbox;
  gap: 1.5rem;
}

.flex-container {
  display: flex;
  border: 1px solid black;
  background-color: burlywood;
  padding: 20px;
  /* flex-direction: row; */
  flex-wrap: wrap;
  width: 35rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 15%;
}

.sin-link {
  text-decoration: none;
  color: inherit;
}

.caja {
  width: calc(50% - 20px); /* Ancho del 50% menos el espaciado */
  margin: 10px; /* Espaciado entre las cajas */
  background-color: aliceblue;
  color: black;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15%;
}
.integrantes {
  background-color: rgba(0, 0, 0, 0.6);
}
.nombres {
  /* background-color: burlywood; */
  color: white;
  text-decoration: none;
}
.nombres:hover {
  color: wheat;
}
